# FastAPI framework
fastapi==0.111.1
uvicorn[standard]==0.23.2

# Database
SQLAlchemy==2.0.25
psycopg2-binary==2.9.7
alembic==1.11.2

# Password hashing / JWT
passlib[bcrypt]==1.7.4
python-jose==3.3.0

# Environment variables
python-dotenv==1.0.1

# Pydantic models
pydantic==2.7.1

# Optional: For testing
pytest==7.4.2
httpx==0.24.1

# For development
black==24.3.0
